.order-wrapper {
  background-color: white;
}

.order {
  padding: 50px 0px;
  color: black;
  max-width: 1300px;
  margin: auto;
}

.order__header {
  text-align: center;
  margin: 0;
}

.color-input {
  height: 50px;
  padding: 5px;
}

.radio-input {
  width: 50px;
}

.order-block {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.order-list {
  padding: 0;
  justify-content: flex-start;
}

.order-list__item {
  display: flex;
  justify-content: flex-start;
}

.order__description {
  width: 50%;
}

.personal-wishes {
  width: 300px;
  height: 150px;
  resize: none;
  margin-bottom: 10px;
}

.order-button {
  background-color: #29912d;
  padding: 10px 15px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.order-button:hover {
  background-color: #32af37;
}

.order-left {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.order__right {
  margin: auto;
}

.order-img {
  max-height: 500px;
}

@media screen and (max-width: 600px) {
  .order-right {
    display: none;
  }
}
