.green-button {
  background-color: #29912d;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 32px;
  padding: 4px 21px;
  margin-top: 21px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 0;
}

.green-button:hover {
  background-color: #32af37;
}

.transperent-button {
  background-color: #ffffff00;
  border: 2px solid #fff;
  border-radius: 15px;
  color: #fff;
  font-size: 32px;
  padding: 10px 21px;
  margin-top: 21px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 0;
}

.transperent-button:hover {
  background-color: #ffffff;
  color: black;
}
