a {
    text-decoration: none;
    color: white;
}

.contacts {
    background-color: rgb(31, 31, 31);
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 150px;
}

.contacts__header {
    font-size: 55px;
}

.contacts__title {
    font-size: 30px;
}

.contacts__list {
    padding: 0;
}

.contacts__item {
    font-size: 25px;
}

.contacts__social-item:not(:last-child) {
    margin-right: 15px;
}