li {
    list-style-type: none;
}

.shop {
    background-color: white;
}

.shop__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.shop__search-input {
    border-radius: 20px;
    border: 3px solid black;
    height: 50px;
    width: 350px;
    margin-right: 38px;
}

.shop__search-sort {
    border: none;
}

.shop__search-cart {
    cursor: pointer;
}

.shop__main {
    display: flex;
    padding-top: 31px;
}

.shop__main-category {
    margin-right: 86px;
}

.shop__main-products {
    display: flex;
    flex-wrap: wrap;
}

.shop__main-category-list {
    padding: 0;
    font-weight: 500;
    font-size: 40px;
}

.shop__main-category-item {
    cursor: pointer;
}

.shop__main-category-item:not(:last-child) {
    margin-bottom: 31px;
}


