.block {
    display: flex;
    flex-wrap: wrap;
}

.product {
    text-align: center;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 24px 22px;
    margin-bottom: 45px;
    width: 270px;
}

.product:not(:last-child) {
    margin-right: 86px;
}

.product__image-background {
    background-color: white;
    border-radius: 20px;
}

.product__image {
    height: 158px;
    border-radius: 20px;
}

.product__title {
    font-weight: 500;
    font-size: 40px;
    margin-top: 6px;
    margin-bottom: 0;
}

.product__buy {
    vertical-align: bottom;
}

.product__buy-price {
    font-size: 40px;
    line-height: 60px;
    margin-top: 0;
    margin-bottom: 0;
}

.product__buy-button {
    background-color: #29912d;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 32px;
    padding: 4px 21px;
    margin-top: 21px;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: auto;
}

.product__buy-button:hover {
    background-color: #88d18a;
    color: rgb(0, 0, 0);;
}