.header__nav {
    background-color: rgb(58, 58, 58);
}

.header__nav-list {
    padding-top: 35px;
    padding-bottom: 35px;
}

.header__nav {
    text-align: center;
}

.header__nav-item:not(:last-child) {
    margin-right: 145px;
}

.header__nav-item {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 25px;
}