.offerCard {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.offerCard {
    background-color: grey;
    border-radius: 20px;
    color: black;
    padding: 31px 24px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.offerCard:hover {
    box-shadow: 0px 4px 10px #fff;
}
