@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

body {
    font-family: 'Exo 2';
    margin: 0;
}

.wrapper {
    min-width: 1732px;
}

/* classes */

.title {
    font-size: 96px;
    font-weight: 700;
}

.button {
    background-color: rgba(255, 255, 255, 0); 
    border-radius: 100px;
    border: 7px solid #FFFFFF;
    padding: 43px 50px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

/* Header */

.header {
    color: white;
    padding-left: 94px;
    padding-right: 94px;
    background-image: url(./img/fone.png);
    background-size: 100% auto;
    text-align: center;
}

.header__nav-item:not(:last-child) {
    margin-right: 145px;
}

.header__nav-item {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 40px;
}

.header__title {
    margin-bottom: 43px;
}

.header__button {
    margin-bottom: 320px;
}






