.nav {
    background-color: rgb(58, 58, 58);
}

.header__nav-list {
    padding-top: 35px;
    padding-bottom: 35px;
}

.header__nav {
    text-align: center;
}

.header__nav-item {
    font-size: 30px;
}